header {
    background: linear-gradient(180deg, #7e0808 0%, #ff4d4d 100%);
    padding: 20px;
    text-align: center;
    font-family: "OCR A Std", monospace;    
    width: 100%;
}

body {
    flex-wrap: wrap;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}



.container {
    display : flex;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    justify-content: center;
}

