header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(221, 211, 211);
    font-family: "OCR A Std", monospace;
    width: 1300px;
}

body {
    
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgb(221, 211, 211);
    text-align: center;
    width: 80vw;
    height: 100vh;
    margin: auto;
}


#profil {
    border-radius: 50%;
    text-align: center;
    height: 150px;
}